*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#logo{
    height: 50px;
}
#lettercolor{
    color: white;
}
header{
    height: 20vh;
    align-items: center;
}
main{
    height: 40vh;
}